#footer_custom {
  padding: 10px 0;
  background-color: $black_color;
  .row {
    .copyright {
      p {
        font-size: 16px;
        font-weight: 400;
        color: $white_color;
        margin-bottom: 0;
        span {
          color: $primary_color;
        }
      }
    }
  }
}
